/* src/NotificationHistory.css */
.notification-history-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .history-list {
    display: flex;
    flex-direction: column;
    width: 80%; /* Adjust the width as needed */
    max-width: 800px; /* Set a maximum width for larger screens */
  }
  
  .history-item {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #333;
  }
  